<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AutoGraph</title>
     <link rel="stylesheet" th:href="@{css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{css/styles.css}" />

</head>
<body>
<!--<h1 class="header">Welcome to AutoGraph</h1>-->
<img th:src="@{/images/logo-avtograf.png}" class="image"/>

<div class="btn-home">
        <a class="btn btn-outline-dark" type="button" th:href="@{/login}">Войти</a>
</div>

</body>
</html>